body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* * --============NAVBAR============-- */
*/ li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
    list-style: none;
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 5px;
}

.navbar:hover {
    box-shadow: 3px 3px 20px red;
}

nav ul li a {
    margin: 12px;
    padding: 7px 11px;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 30px;
    line-height: 43px;
    letter-spacing: 1px;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
}

nav ul li a:hover {
    background-color: red;
    color: white;
    transition: all ease 0.2s;
}

.hamburger {
    display: flex;
    flex-direction: column;
    display: none;
    position: relative;
    z-index: 1;
}

.line {
    height: 2px;
    width: 20px;
    background-color: white;
    margin-top: 4px;
}

/* -- ============MAIN TEXT============ -- */

#main {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main_content {
    color: white;
    position: absolute;
    top: 38%;
    left: 34%;
    text-align: center;
}

.main_heading {
    font-size: 1rem;
}

.main_heading2 {
    font-size: 2.5rem;
    margin-top: -10px;
}

.main_heading2 span {
    color: red;
}

.main_para {
    margin-top: -20px;
}

.btn {

    background-color: red;
    color: white;
    padding: 9px 30px;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-top: 9px;
    box-shadow: 3px 3px 15px red;
    cursor: pointer;
}

.btn:hover {
    background-color: gold;
    color: black;
    box-shadow: 5px 5px 20px gold;
}

/* -- ============About============ -- */

#about {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: black;
    box-sizing: border-box;
}

.about_container {
    padding-top: 1px;
}

.about_left {
    width: 50%;
    text-align: center;
    margin-top: -25px;
}

.about_left img {
    width: 60%;
    margin-top: 60px;

}

.about_right {
    width: 50%;
    position: absolute;
    right: 0;
    top: 40%;

}

.right_heading {
    color: red;
    font-size: 40px;
}

.about_para {
    margin-top: -5px;
    color: white;
}

.about_heading {
    width: 100%;
    height: 3rem;
    font-size: 3rem;
    font-weight: 10px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 23px;
    background-color: black;
    color: white;
}

.about_btn {

    background-color: red;
    color: white;
    padding: 9px 11px;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-top: 22px;
    box-shadow: 3px 3px 15px red;
    cursor: pointer;

}

.about_btn:hover {
    background-color: gold;
    color: white;
    box-shadow: 5px 5px 20px gold;
}

/* -- ============ Feature ============ -- */

#service {
    width: 100%;
    height: 100vh;
    color: white;
    background-color: black;
    padding-top: 108px;
    position: relative;
    box-sizing: border-box;


}

.services_heading {
    width: 100%;
    height: 3rem;
    font-size: 3rem;
    font-weight: 10px;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 161px;
}

.service_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: -100px;

}

.service_card {
    flex: 1;
    max-width: 25%;
    text-align: center;
    padding-top: 60px;
    transition: all ease 0, 2s;
}

.service_card:hover {
    box-shadow: 3px 3px 15px red;
}

.card_heading {
    font-weight: 50px;
}

.image {
    height: 240px;
}

.content {
    margin-top: -50px;
}

/* -- ============OFFERS ============ -- */

#offer {
    width: 100%;
    height: 110vh;
    position: relative;
    background-image: url(images/offer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main_content {
    color: white;
    position: absolute;
    top: 43%;
    left: 37%;
    text-align: center;
}

.main_heading {
    font-size: 1rem;
}

.main_heading2 {
    font-size: 2.5rem;
    margin-top: -10px;
}

.main_heading2 span {
    color: #ff1414;
}

.main_para {
    margin-top: -20px;
}

.btn {

    background-color: red;
    color: white;
    padding: 9px 30px;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-top: 9px;
    box-shadow: 3px 3px 15px red;
    cursor: pointer;
}

.btn:hover {
    background-color: gold;
    color: black;
    box-shadow: 5px 5px 20px gold;
}

/* -- ============CONTACT SECTION============ -- */
#contact {
    width: 100%;
    height: 93vh;
    position: relative;
    box-sizing: border-box;
    background-color: black;
}

.contact_heading {
    width: 100%;
    height: 3rem;
    color: white;
    font-size: 3rem;
    font-weight: 10px;
    text-align: center;
    margin-top: -5px;
    padding-top: 80px;
}

.contact_form {
    width: 30%;
    height: 60%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1%;
    left: 35%;
}

.contact_form input,
.contact_form textarea {
    width: 100%;
    height: 30px;
    margin: 5px 0px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.884);
    color: black;
    border-radius: 8px;
}

.contact_form textarea {
    height: 100px;
}

.contact_button {
    width: 100%;
    padding: 10px 0px;
    border-radius: 10px;
    margin-top: 15px;
    border: none;
    outline: none;
    color: white;
    background-color: red;
    box-shadow: 3px 3px 15px red;
    cursor: pointer;
}

.caontact_button:hover {
    background-color: gold;
    color: black;
    box-shadow: 5px 5px 20px gold;
}

/* -- ============Footer============ -- */

footer {
    color: white;
    background-color: black;
    text-align: center;
}

/* ==========Respomsiveness========= */

@media (max-width:1100px) {

    .main_content {
        left: 33%;
    }

    .card_heading {
        font-size: 17px;
    }

    .card_para {
        font-size: 12px;
    }

    .image {
        height: 200px;
    }

    .service_card {
        padding-top: 10px;
    }

}

@media(max-width:850px) {

    .main_content {
        left: 30%;
    }

    .card_heading {
        font-size: 22px;
    }

    .card_para {
        font-size: 12px;
    }

    .image {
        height: 200px;
    }

    .service_card {
        padding-top: 10px;
    }

    .about_left img {
        height: 250px;
    }


}

@media (max-width:750px) {
    nav {
        justify-content: space-between;
    }

    .logo {
        margin-left: 25px;
    }

    .hamburger {
        display: block;
        margin-right: 25px;
    }

    .menu {
        flex-direction: column;
        position: absolute;
        width: 100%;
        text-align: center;
        background-color: black;
        right: 50%;
        top: 0%;
        transform: translate(50%, 0%);
        padding: 20px 0px 20px 0px;
        transition: 0.4s ease-in-out;
        display: none;
    }

    .menu.active {
        display: block;
    }

    .about_left img {
        width: 70%;
    }

    .right_heading {
        font-size: 2rem;
    }

    .about_para {
        font-size: 0.9rem;
    }

    .card_heading {
        font-size: 17px;
    }

    .card_para {
        font-size: 12px;
    }

    .image {
        height: 200px;
    }

    .service_card {
        padding-top: 10px;
    }

}

@media (max-width:900px) {

    #service {
        height: 155vh;
        background-color: black;
    }

    .service_container {
        height: 120vh;
        flex-direction: column;
        align-items: center;
    }

    .service_card {
        background-color: black;
    }

    .card2,
    .card4 {
        margin-top: 8px;
    }

    .card_heading {
        font-size: 20px;
    }

    .card_para {
        font-size: 15px;
    }

    .image {
        height: 200px;
    }

    .service_card {
        padding-top: 10px;
    }

}

@media (max-width:650px) {

    .main_content {
        left: 23.5%;
    }

    .card_heading {
        font-size: 17px;
    }

    .card_para {
        font-size: 12px;
    }

    .image {
        height: 200px;
    }

    .service_card {
        padding-top: 10px;
    }


}

@media (max-width:530px) {

    .main_content {
        top: 38%;
        left: 18%;
    }

    .main_heading {
        font-size: 1.5rem;
    }

    .main_heading2 {
        font-size: 2rem;
    }

    .main_para {
        font-size: 1rem;
    }

    .about_left {
        width: 0%;
        display: none;
    }

    .about_right {
        width: 95%;
        text-align: center;
    }

    .right_heading {
        text-align: center;
        font-size: 2.2rem;
    }

    #service {
        padding-top: 58px;

    }

}

@media (max-width:400px) {

    #main,
    #offer {
        height: 100vh;
    }

    .main_content {
        left: 8%;
    }

    #about,
    #contact {
        height: 70vh;
    }

    .about_right {
        top: 20%;
        margin-right: 5px;
        font-size: 1.5rem;
    }


    .about_heading {
        font-size: 2rem;
        padding: 0;
    }

    #service {
        height: 145vh;
    }

    .services_heading {
        font-size: 2rem;
    }

    .service_card {
        height: 180px;
        margin-bottom: 30px;
        padding: 0px 30px 00px 30px;
    }

    .service_card:hover {
        box-shadow: none;

    }

    .card_para {
        display: none;
    }

    .contact_heading {
        padding: 20px;
        width: 90%;
        font-size: 2rem;
    }

    .contact_form {
        width: 100%;
        position: relative;
        left: 1%;
        margin-top: 0%;
    }

    .contact_form input,
    .contact_form textarea,
    .contact_button {
        width: 90%;
    }


}